.chatBoxContainer {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(29, 44, 64);
  height: 200px;
  width: 370px;
  background-color: white;
  color: rgb(62, 62, 107);
  padding: 10px;
  gap: 10px;
}

.messageResponse {
  display: flex;

  background-color: rgb(237, 243, 245);
  padding: 5px;
  max-width: 250px;
}
