.inputBoxContainer {
  display: flex;
  padding: 10px;
}

.formContainer {
  display: flex;
}

.inputResponse {
  display: flex;
  padding-right: 5px;
}

.inputBox {
  border: rgb(138, 187, 233) solid 1px;
  padding: 10px;
  width: 300px;
}

.inputButton {
  padding: 10px;
  background-color: rgb(138, 187, 233);
  color: white;
}
